@charset "utf-8";
html, body {height:100%;}
body {margin:0; padding:0; border-right:1px #DDD solid; background:url(../../images/admin/leftbg.gif) repeat-y left top; font-size:14px; color:#333333; font-family:Microsoft YaHei; overflow:hidden;}
#left {width:200px; box-sizing:border-box; background-color:#EEE; box-shadow:2px 2px 5px rgba(0,0,0,0.3); overflow:auto;}
#left li {height:40px; line-height:40px; overflow:hidden; padding-left:25px; background-color:#FFF; border-bottom:1px #EEE solid; cursor:default; transition:background-color 200ms ease-in-out; -webkit-transition:background-color 200ms ease-in-out;}
#left li:hover {background-color:#EEE !important; border-color:#DDD;}
#left a {display:block; height:100%; transition:all 200ms ease-in-out; -webkit-transition:all 200ms ease-in-out;}
#left a:hover {color:#428EFF; text-shadow:3px 2px 2px #BBBBBB;}
#left a.current {color:#990000; font-weight:bold; text-shadow:3px 2px 2px #BBBBBB;}
#left li.def {background:#FFF url(../../images/admin/left_icon.gif) no-repeat 12px; cursor:pointer;}
#left li.cur {background:#EEE url(../../images/admin/left_icon_on.gif) no-repeat 10px; cursor:pointer;}
#left > li a, #left > li span {background:url(../../images/admin/left/other.gif) no-repeat left; padding-left:20px; transition:all 200ms ease-in-out; -webkit-transition:all 200ms ease-in-out;}
#left ul {display:none; padding-left:20px;}
#close {display:block; cursor:pointer; position:fixed; right:5px; top:50%; width:10px; height:39px; background-repeat:no-repeat; transform:translateY(-20px); -webkit-transform:translateY(-20px); transition:background-image 200ms ease-in-out; -webkit-transition:background-image 200ms ease-in-out;}
#close.left {background-image:url(../../images/admin/win_icon.gif);}
#close.left:hover {background-image:url(../../images/admin/win_icon_hover.gif);}
#close.right {background-image:url(../../images/admin/win_icon_out.gif);}
#close.right:hover {background-image:url(../../images/admin/win_icon_out_hover.gif);}