/*CSS adminpager style pagination*/
.adminpager {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center; color:#5278C3;}
.adminpager a {border-right:#9AAFE5 1px solid; padding-right:5px; border-top:#9AAFE5 1px solid; padding-left:5px; padding-bottom:2px; border-left:#9AAFE5 1px solid; color:#5278C3; margin-right:2px; padding-top:2px; border-bottom:#9AAFE5 1px solid; text-decoration:none;}
.adminpager a:hover {border-right:#5278C3 1px solid; border-top:#5278C3 1px solid; border-left:#5278C3 1px solid; color:#000; border-bottom:#5278C3 1px solid; background-color:#FFE6CC;}
.adminpager a:active {border-right:#5278C3 1px solid; border-top:#5278C3 1px solid; border-left:#5278C3 1px solid; color:#000; border-bottom:#5278C3 1px solid; background-color:#FFE6CC;}
.adminpager span.current {border-right:#5278C3 1px solid; padding-right:5px; border-top:#5278C3 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:#5278C3 1px solid; color:#5278C3; margin-right:2px; padding-top:2px; border-bottom:#5278C3 1px solid; background-color:#D6DFF1;}
.adminpager span.disabled {border-right:#B3BAC7 1px solid; padding-right:5px; border-top:#B3BAC7 1px solid; padding-left:5px; padding-bottom:2px; border-left:#B3BAC7 1px solid; color:#B3BAC7; margin-right:2px; padding-top:2px; border-bottom:#B3BAC7 1px solid;}



/*CSS Digg style pagination*/
.digg {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.digg a {border-right:#AAD 1px solid; padding-right:5px; border-top:#AAD 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#AAD 1px solid; color:#009; padding-top:2px; border-bottom:#AAD 1px solid; text-decoration:none;}
.digg a:hover {border-right:#009 1px solid; border-top:#009 1px solid; border-left:#009 1px solid; color:#000; border-bottom:#009 1px solid;}
.digg a:active {border-right:#009 1px solid; border-top:#009 1px solid; border-left:#009 1px solid; color:#000; border-bottom:#009 1px solid;}
.digg span.current {border-right:#009 1px solid; padding-right:5px; border-top:#009 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; border-left:#009 1px solid; color:#FFF; padding-top:2px; border-bottom:#009 1px solid; background-color:#009;}
.digg span.disabled {border-right:#EEE 1px solid; padding-right:5px; border-top:#EEE 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#EEE 1px solid; color:#DDD; padding-top:2px; border-bottom:#EEE 1px solid;}



/*CSS yahoo style pagination*/
.yahoo {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.yahoo a {border-right:#FFF 1px solid; padding-right:5px; border-top:#FFF 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#FFF 1px solid; color:#009; padding-top:2px; border-bottom:#FFF 1px solid; text-decoration:underline;}
.yahoo a:hover {border-right:#009 1px solid; border-top:#009 1px solid; border-left:#009 1px solid; color:#000; border-bottom:#009 1px solid;}
.yahoo a:active {border-right:#009 1px solid; border-top:#009 1px solid; border-left:#009 1px solid; color:#f00; border-bottom:#009 1px solid;}
.yahoo span.current {border-right:#FFF 1px solid; padding-right:5px; border-top:#FFF 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; border-left:#FFF 1px solid; color:#000; padding-top:2px; border-bottom:#FFF 1px solid; background-color:#FFF;}
.yahoo span.disabled {border-right:#EEE 1px solid; padding-right:5px; border-top:#EEE 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#EEE 1px solid; color:#DDD; padding-top:2px; border-bottom:#EEE 1px solid;}



/*CSS meneame style pagination*/
.meneame {padding-right:3px; padding-left:3px; font-size:80%; padding-bottom:3px; margin:3px; color:#FF6500; padding-top:3px; text-align:center;}
.meneame a {border-right:#FF9600 1px solid; padding-right:7px; background-position:50% bottom; border-top:#FF9600 1px solid; padding-left:7px; background-image:url(../../images/admin/meneame.jpg); padding-bottom:5px; border-left:#FF9600 1px solid; color:#FF6500; margin-right:3px; padding-top:5px; border-bottom:#FF9600 1px solid; text-decoration:none;}
.meneame a:hover {border-right:#FF9600 1px solid; border-top:#FF9600 1px solid; background-image:none; border-left:#FF9600 1px solid; color:#FF6500; border-bottom:#FF9600 1px solid; background-color:#FFC794;}
.meneame a:active {border-right:#FF9600 1px solid; border-top:#FF9600 1px solid; background-image:none; border-left:#FF9600 1px solid; color:#FF6500; border-bottom:#FF9600 1px solid; background-color:#FFC794;}
.meneame span.current {border-right:#FF6500 1px solid; padding-right:7px; border-top:#FF6500 1px solid; padding-left:7px; font-weight:bold; padding-bottom:5px; border-left:#FF6500 1px solid; color:#FF6500; margin-right:3px; padding-top:5px; border-bottom:#FF6500 1px solid; background-color:#FFBE94;}
.meneame span.disabled {border-right:#FFE3C6 1px solid; padding-right:7px; border-top:#FFE3C6 1px solid; padding-left:7px; padding-bottom:5px; border-left:#FFE3C6 1px solid; color:#FFE3C6; margin-right:3px; padding-top:5px; border-bottom:#FFE3C6 1px solid;}



/*CSS flickr style pagination*/
.flickr {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.flickr a {border-right:#DEDFDE 1px solid; padding-right:6px; background-position:50% bottom; border-top:#DEDFDE 1px solid; padding-left:6px; padding-bottom:2px; border-left:#DEDFDE 1px solid; color:#0061DE; margin-right:3px; padding-top:2px; border-bottom:#DEDFDE 1px solid; text-decoration:none;}
.flickr a:hover {border-right:#000 1px solid; border-top:#000 1px solid; background-image:none; border-left:#000 1px solid; color:#FFF; border-bottom:#000 1px solid; background-color:#0061DE;}
.flickr a:active {border-right:#000 1px solid; border-top:#000 1px solid; background-image:none; border-left:#000 1px solid; color:#FFF; border-bottom:#000 1px solid; background-color:#0061DE;}
.flickr span.current {padding-right:6px; padding-left:6px; font-weight:bold; padding-bottom:2px; color:#FF0084; margin-right:3px; padding-top:2px;}
.flickr span.disabled {padding-right:6px; padding-left:6px; padding-bottom:2px; color:#ADAAAD; margin-right:3px; padding-top:2px;}



/*CSS sabrosus style pagination*/
.sabrosus {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.sabrosus a {border-right:#9AAFE5 1px solid; padding-right:5px; border-top:#9AAFE5 1px solid; padding-left:5px; padding-bottom:2px; border-left:#9AAFE5 1px solid; color:#2E6AB1; margin-right:2px; padding-top:2px; border-bottom:#9AAFE5 1px solid; text-decoration:none;}
.sabrosus a:hover {border-right:#2B66A5 1px solid; border-top:#2B66A5 1px solid; border-left:#2B66A5 1px solid; color:#000; border-bottom:#2B66A5 1px solid; background-color:lightyellow;}
.sabrosus a:active {border-right:#2B66A5 1px solid; border-top:#2B66A5 1px solid; border-left:#2B66A5 1px solid; color:#000; border-bottom:#2B66A5 1px solid; background-color:lightyellow;}
.sabrosus span.current {border-right:navy 1px solid; padding-right:5px; border-top:navy 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:navy 1px solid; color:#FFF; margin-right:2px; padding-top:2px; border-bottom:navy 1px solid; background-color:#2E6AB1;}
.sabrosus span.disabled {border-right:#929292 1px solid; padding-right:5px; border-top:#929292 1px solid; padding-left:5px; padding-bottom:2px; border-left:#929292 1px solid; color:#929292; margin-right:2px; padding-top:2px; border-bottom:#929292 1px solid;}



/*CSS scott style pagination*/
.scott {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.scott a {border-right:#DDD 1px solid; padding-right:5px; border-top:#DDD 1px solid; padding-left:5px; padding-bottom:2px; border-left:#DDD 1px solid; color:#88AF3F; margin-right:2px; padding-top:2px; border-bottom:#DDD 1px solid; text-decoration:none;}
.scott a:hover {border-right:#85BD1E 1px solid; border-top:#85BD1E 1px solid; border-left:#85BD1E 1px solid; color:#638425; border-bottom:#85BD1E 1px solid; background-color:#f1ffd6;}
.scott a:active {border-right:#85BD1E 1px solid; border-top:#85BD1E 1px solid; border-left:#85BD1E 1px solid; color:#638425; border-bottom:#85BD1E 1px solid; background-color:#f1ffd6;}
.scott span.current {border-right:#B2E05D 1px solid; padding-right:5px; border-top:#B2E05D 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:#B2E05D 1px solid; color:#FFF; margin-right:2px; padding-top:2px; border-bottom:#B2E05D 1px solid; background-color:#B2E05D;}
.scott span.disabled {border-right:#F3F3F3 1px solid; padding-right:5px; border-top:#F3F3F3 1px solid; padding-left:5px; padding-bottom:2px; border-left:#F3F3F3 1px solid; color:#CCC; margin-right:2px; padding-top:2px; border-bottom:#F3F3F3 1px solid;}



/*CSS quotes style pagination*/
.quotes {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.quotes a {border-right:#DDD 1px solid; padding-right:5px; border-top:#DDD 1px solid; padding-left:5px; padding-bottom:2px; border-left:#DDD 1px solid; color:#AAA; margin-right:2px; padding-top:2px; border-bottom:#DDD 1px solid; text-decoration:none;}
.quotes a:hover {border-right:#A0A0A0 1px solid; padding-right:5px; border-top:#A0A0A0 1px solid; padding-left:5px; padding-bottom:2px; border-left:#A0A0A0 1px solid; margin-right:2px; padding-top:2px; border-bottom:#A0A0A0 1px solid;}
.quotes a:active {border-right:#A0A0A0 1px solid; padding-right:5px; border-top:#A0A0A0 1px solid; padding-left:5px; padding-bottom:2px; border-left:#A0A0A0 1px solid; margin-right:2px; padding-top:2px; border-bottom:#A0A0A0 1px solid;}
.quotes span.current {border-right:#E0E0E0 1px solid; padding-right:5px; border-top:#E0E0E0 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:#E0E0E0 1px solid; color:#AAA; margin-right:2px; padding-top:2px; border-bottom:#E0E0E0 1px solid; background-color:#F0F0F0;}
.quotes span.disabled {border-right:#F3F3F3 1px solid; padding-right:5px; border-top:#F3F3F3 1px solid; padding-left:5px; padding-bottom:2px; border-left:#F3F3F3 1px solid; color:#CCC; margin-right:2px; padding-top:2px; border-bottom:#F3F3F3 1px solid;}



/*CSS black style pagination*/
.black {padding-right:3px; padding-left:3px; font-size:80%; padding-bottom:10px; margin:3px; color:#A0A0A0; padding-top:10px; background-color:#000; text-align:center;}
.black a {border-right:#909090 1px solid; padding-right:5px; background-position:50% bottom; border-top:#909090 1px solid; padding-left:5px; background-image:url(../../images/admin/bar.gif); padding-bottom:2px; border-left:#909090 1px solid; color:#c0c0c0; margin-right:3px; padding-top:2px; border-bottom:#909090 1px solid; text-decoration:none;}
.black a:hover {border-right:#F0F0F0 1px solid; border-top:#F0F0F0 1px solid; background-image:url(invbar.gif); border-left:#F0F0F0 1px solid; color:#FFFFFF; border-bottom:#F0F0F0 1px solid; background-color:#404040;}
.black a:active {border-right:#F0F0F0 1px solid; border-top:#F0F0F0 1px solid; background-image:url(invbar.gif); border-left:#F0F0F0 1px solid; color:#FFFFFF; border-bottom:#F0F0F0 1px solid; background-color:#404040;}
.black span.current {border-right:#FFFFFF 1px solid; padding-right:5px; border-top:#FFFFFF 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:#FFFFFF 1px solid; color:#FFFFFF; margin-right:3px; padding-top:2px; border-bottom:#FFFFFF 1px solid; background-color:#606060;}
.black span.disabled {border-right:#606060 1px solid; padding-right:5px; border-top:#606060 1px solid; padding-left:5px; padding-bottom:2px; border-left:#606060 1px solid; color:#808080; margin-right:3px; padding-top:2px; border-bottom:#606060 1px solid;}



/*CSS black2 style pagination*/
.black2 {padding-right:7px; padding-left:7px; padding-bottom:7px; margin:3px; padding-top:7px; text-align:center;}
.black2 a {border-right:#000 1px solid; padding-right:5px; border-top:#000 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#000 1px solid; color:#000; padding-top:2px; border-bottom:#000 1px solid; text-decoration:none;}
.black2 a:hover {border-right:#000 1px solid; border-top:#000 1px solid; border-left:#000 1px solid; color:#FFF; border-bottom:#000 1px solid; background-color:#000;}
.black2 a:active {border-right:#000 1px solid; border-top:#000 1px solid; border-left:#000 1px solid; color:#FFF; border-bottom:#000 1px solid; background-color:#000;}
.black2 span.current {border-right:#000 1px solid; padding-right:5px; border-top:#000 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; border-left:#000 1px solid; color:#FFF; padding-top:2px; border-bottom:#000 1px solid; background-color:#000;}
.black2 span.disabled {border-right:#EEE 1px solid; padding-right:5px; border-top:#EEE 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#EEE 1px solid; color:#DDD; padding-top:2px; border-bottom:#EEE 1px solid;}



/*CSS black-red style pagination*/
.black-red {font-size:11px; color:#FFF; font-family:Tahoma, arial, Helvetica, Sans-serif; background-color:#3E3E3E;}
.black-red a {padding-right:5px; padding-left:5px; padding-bottom:2px; margin:2px; color:#FFF; padding-top:2px; background-color:#3E3E3E; text-decoration:none;}
.black-red a:hover {color:#FFF; background-color:#EC5210;}
.black-red a:active {color:#FFF; background-color:#EC5210;}
.black-red span.current {padding-right:5px; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; color:#FFF; padding-top:2px; background-color:#313131;}
.black-red span.disabled {padding-right:5px; padding-left:5px; padding-bottom:2px; margin:2px; color:#868686; padding-top:2px; background-color:#3E3E3E;}



/*CSS grayr style pagination*/
.grayr {padding-right:2px; padding-left:2px; font-size:11px; padding-bottom:2px; padding-top:2px; font-family:Tahoma, arial, Helvetica, Sans-serif; background-color:#C1C1C1;}
.grayr a {padding-right:5px; padding-left:5px; padding-bottom:2px; margin:2px; color:#000; padding-top:2px; background-color:#C1C1C1; text-decoration:none;}
.grayr a:hover {color:#000; background-color:#9FF;}
.grayr a:active {color:#000; background-color:#9FF;}
.grayr span.current {padding-right:5px; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; color:#303030; padding-top:2px; background-color:#FFF;}
.grayr span.disabled {padding-right:5px; padding-left:5px; padding-bottom:2px; margin:2px; color:#797979; padding-top:2px; background-color:#C1C1C1;}



/*CSS yellow style pagination*/
.yellow {padding-right:7px; padding-left:7px; padding-bottom:7px; margin:3px; padding-top:7px; text-align:center;}
.yellow a {border-right:#CCC 1px solid; padding-right:5px; border-top:#CCC 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#CCC 1px solid; color:#000; padding-top:2px; border-bottom:#CCC 1px solid; text-decoration:none;}
.yellow a:hover {border-right:#F0F0F0 1px solid; border-top:#F0F0F0 1px solid; border-left:#F0F0F0 1px solid; color:#000; border-bottom:#F0F0F0 1px solid;}
.yellow a:active {border-right:#F0F0F0 1px solid; border-top:#F0F0F0 1px solid; border-left:#F0F0F0 1px solid; color:#000; border-bottom:#F0F0F0 1px solid;}
.yellow span.current {border-right:#D9D300 1px solid; padding-right:5px; border-top:#D9D300 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; border-left:#D9D300 1px solid; color:#FFF; padding-top:2px; border-bottom:#D9D300 1px solid; background-color:#D9D300;}
.yellow span.disabled {border-right:#EEE 1px solid; padding-right:5px; border-top:#EEE 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#EEE 1px solid; color:#DDD; padding-top:2px; border-bottom:#EEE 1px solid;}



/*CSS jogger style pagination*/
.jogger {padding-right:2px; padding-left:2px; padding-bottom:2px; margin:7px; padding-top:2px; font-family:"Lucida Sans Unicode", "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;}
.jogger a {padding-right:0.64em; padding-left:0.64em; padding-bottom:0.43em; margin:2px; color:#FFF; padding-top:0.5em; background-color:#EE4E4E; text-decoration:none;}
.jogger a:hover {padding-right:0.64em; padding-left:0.64em; padding-bottom:0.43em; margin:2px; color:#FFF; padding-top:0.5em; background-color:#DE1818;}
.jogger a:active {padding-right:0.64em; padding-left:0.64em; padding-bottom:0.43em; margin:2px; color:#FFF; padding-top:0.5em; background-color:#DE1818;}
.jogger span.current {padding-right:0.64em; padding-left:0.64em; padding-bottom:0.43em; margin:2px; color:#6D643C; padding-top:0.5em; background-color:#F6EFCC;}
.jogger span.disabled {display:none;}



/*CSS starcraft2 style pagination*/
.starcraft2 {padding-right:3px; padding-left:3px; font-weight:bold; font-size:13.5pt; padding-bottom:3px; margin:3px; color:#FFF; padding-top:3px; font-family:arial; background-color:#000; text-align:center;}
.starcraft2 a {margin:2px; color:#FA0; background-color:#000; text-decoration:none;}
.starcraft2 a:hover {color:#FFF; background-color:#000;}
.starcraft2 a:active {color:#FFF; background-color:#000;}
.starcraft2 span.current {font-weight:bold; margin:2px; color:#FFF; background-color:#000;}
.starcraft2 span.disabled {margin:2px; color:#444; background-color:#000;}



/*CSS tres style pagination*/
.tres {padding-right:7px; padding-left:7px; font-weight:bold; font-size:13.2pt; padding-bottom:7px; margin:3px; padding-top:7px; font-family:arial, Helvetica, sans-serif; text-align:center;}
.tres a {border-right:#D9D300 2px solid; padding-right:5px; border-top:#D9D300 2px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#D9D300 2px solid; color:#FFF; padding-top:2px; border-bottom:#D9D300 2px solid; background-color:#d90; text-decoration:none;}
.tres a:hover {border-right:#FF0 2px solid; border-top:#FF0 2px solid; border-left:#FF0 2px solid; color:#000; border-bottom:#FF0 2px solid; background-color:#FF0;}
.tres a:active {border-right:#FF0 2px solid; border-top:#FF0 2px solid; border-left:#FF0 2px solid; color:#000; border-bottom:#FF0 2px solid; background-color:#FF0;}
.tres span.current {border-right:#FFF 2px solid; padding-right:5px; border-top:#FFF 2px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; border-left:#FFF 2px solid; color:#000; padding-top:2px; border-bottom:#FFF 2px solid;}
.tres span.disabled {display:none;}



/*CSS megas512 style pagination*/
.megas512 {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.megas512 a {border-right:#DEDFDE 1px solid; padding-right:6px; background-position:50% bottom; border-top:#DEDFDE 1px solid; padding-left:6px; padding-bottom:2px; border-left:#DEDFDE 1px solid; color:#99210b; margin-right:3px; padding-top:2px; border-bottom:#DEDFDE 1px solid; text-decoration:none;}
.megas512 a:hover {border-right:#000 1px solid; border-top:#000 1px solid; background-image:none; border-left:#000 1px solid; color:#FFF; border-bottom:#000 1px solid; background-color:#777;}
.megas512 a:active {border-right:#000 1px solid; border-top:#000 1px solid; background-image:none; border-left:#000 1px solid; color:#FFF; border-bottom:#000 1px solid; background-color:#777;}
.megas512 span.current {padding-right:6px; padding-left:6px; font-weight:bold; padding-bottom:2px; color:#99210b; margin-right:3px; padding-top:2px;}
.megas512 span.disabled {padding-right:6px; padding-left:6px; padding-bottom:2px; color:#ADAAAD; margin-right:3px; padding-top:2px;}



/*CSS technorati style pagination*/
.technorati {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.technorati a {border-right:#CCC 1px solid; padding-right:6px; background-position:50% bottom; border-top:#CCC 1px solid; padding-left:6px; font-weight:bold; padding-bottom:2px; border-left:#CCC 1px solid; color:rgb(66,97,222); margin-right:3px; padding-top:2px; border-bottom:#CCC 1px solid; text-decoration:none;}
.technorati a:hover {background-image:none; color:#FFF; background-color:#4261DF;}
.technorati a:active {background-image:none; color:#FFF; background-color:#4261DF;}
.technorati span.current {padding-right:6px; padding-left:6px; font-weight:bold; padding-bottom:2px; color:#000; margin-right:3px; padding-top:2px;}
.technorati span.disabled {display:none;}



/*CSS youtube style pagination*/
.youtube {padding-right:6px; border-top:#9C9A9C 1px dotted; padding-left:0px; font-size:13px; padding-bottom:4px; color:#313031; padding-top:4px; font-family:arial, Helvetica, sans-serif; background-color:#CECFCE; text-align:right;}
.youtube a {padding-right:3px; padding-left:3px; font-weight:bold; padding-bottom:1px; margin:0px 1px; color:#0030CE; padding-top:1px; text-decoration:underline;}
.youtube a:hover {}
.youtube a:active {}
.youtube span.current {padding-right:2px; padding-left:2px; padding-bottom:1px; color:#000; padding-top:1px; background-color:#FFF;}
.youtube span.disabled {display:none;}



/*CSS msdn style pagination*/
.msdn {padding-right:6px; padding-left:0px; font-size:13px; padding-bottom:4px; color:#313031; padding-top:4px; font-family:Verdana,Tahoma,arial,Helvetica,Sans-Serif; background-color:#FFF; text-align:right;}
.msdn a {border-right:#B7D8EE 1px solid; padding-right:6px; border-top:#B7D8EE 1px solid; padding-left:5px; padding-bottom:4px; margin:0px 3px; border-left:#B7D8EE 1px solid; color:#0030CE; padding-top:5px; border-bottom:#B7D8EE 1px solid; text-decoration:none;}
.msdn a:hover {border-right:#B7D8EE 1px solid; border-top:#B7D8EE 1px solid; border-left:#B7D8EE 1px solid; color:#0066a7; border-bottom:#B7D8EE 1px solid; background-color:#D2EAF6;}
.msdn a:active {border-right:#B7D8EE 1px solid; border-top:#B7D8EE 1px solid; border-left:#B7D8EE 1px solid; color:#0066a7; border-bottom:#B7D8EE 1px solid; background-color:#D2EAF6;}
.msdn span.current {border-right:#B7D8EE 1px solid; padding-right:6px; border-top:#B7D8EE 1px solid; padding-left:5px; font-weight:bold; padding-bottom:4px; margin:0px 3px; border-left:#B7D8EE 1px solid; color:#444; padding-top:5px; border-bottom:#B7D8EE 1px solid; background-color:#D2EAF6;}
.msdn span.disabled {display:none;}



/*CSS badoo style pagination*/
.badoo {padding-right:0px; padding-left:0px; font-size:13px; padding-bottom:10px; color:#48B9EF; padding-top:10px; font-family:arial, Helvetica, sans-serif; background-color:#FFF; text-align:center;}
.badoo a {border-right:#F0F0F0 2px solid; padding-right:5px; border-top:#F0F0F0 2px solid; padding-left:5px; padding-bottom:2px; margin:0px 2px; border-left:#F0F0F0 2px solid; color:#48B9EF; padding-top:2px; border-bottom:#F0F0F0 2px solid; text-decoration:none;}
.badoo a:hover {border-right:#FF5A00 2px solid; border-top:#FF5A00 2px solid; border-left:#FF5A00 2px solid; color:#FF5A00; border-bottom:#FF5A00 2px solid;}
.badoo a:active {border-right:#FF5A00 2px solid; border-top:#FF5A00 2px solid; border-left:#FF5A00 2px solid; color:#FF5A00; border-bottom:#FF5A00 2px solid;}
.badoo span.current {border-right:#FF5A00 2px solid; padding-right:5px; border-top:#FF5A00 2px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:#FF5A00 2px solid; color:#FFF; padding-top:2px; border-bottom:#FF5A00 2px solid; background-color:#FF6C16;}
.badoo span.disabled {display:none;}



/*CSS manu style pagination*/
.manu {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.manu a {border-right:#EEE 1px solid; padding-right:5px; border-top:#EEE 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#EEE 1px solid; color:#036CB4; padding-top:2px; border-bottom:#EEE 1px solid; text-decoration:none;}
.manu a:hover {border-right:#999 1px solid; border-top:#999 1px solid; border-left:#999 1px solid; color:#666; border-bottom:#999 1px solid;}
.manu a:active {border-right:#999 1px solid; border-top:#999 1px solid; border-left:#999 1px solid; color:#666; border-bottom:#999 1px solid;}
.manu .current {border-right:#036CB4 1px solid; padding-right:5px; border-top:#036CB4 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; margin:2px; border-left:#036CB4 1px solid; color:#FFF; padding-top:2px; border-bottom:#036CB4 1px solid; background-color:#036CB4;}
.manu .disabled {border-right:#EEE 1px solid; padding-right:5px; border-top:#EEE 1px solid; padding-left:5px; padding-bottom:2px; margin:2px; border-left:#EEE 1px solid; color:#DDD; padding-top:2px; border-bottom:#EEE 1px solid;}



/*CSS green-black style pagination*/
.green-black {padding-right:3px; padding-left:3px; padding-bottom:3px; margin:3px; padding-top:3px; text-align:center;}
.green-black a {border-right:#2C2C2C 1px solid; padding-right:5px; border-top:#2C2C2C 1px solid; padding-left:5px; background:url(image1.gif) #2C2C2C; padding-bottom:2px; border-left:#2C2C2C 1px solid; color:#FFF; margin-right:2px; padding-top:2px; border-bottom:#2C2C2C 1px solid; text-decoration:none;}
.green-black a:hover {border-right:#AAD83E 1px solid; border-top:#AAD83E 1px solid; background:url(image2.gif) #AAD83E; border-left:#AAD83E 1px solid; color:#FFF; border-bottom:#AAD83E 1px solid;}
.green-black a:active {border-right:#AAD83E 1px solid; border-top:#AAD83E 1px solid; background:url(image2.gif) #AAD83E; border-left:#AAD83E 1px solid; color:#FFF; border-bottom:#AAD83E 1px solid;}
.green-black span.current {border-right:#AAD83E 1px solid; padding-right:5px; border-top:#AAD83E 1px solid; padding-left:5px; font-weight:bold; background:url(image2.gif) #AAD83E; padding-bottom:2px; border-left:#AAD83E 1px solid; color:#FFF; margin-right:2px; padding-top:2px; border-bottom:#AAD83E 1px solid;}
.green-black span.disabled {border-right:#F3F3F3 1px solid; padding-right:5px; border-top:#F3F3F3 1px solid; padding-left:5px; padding-bottom:2px; border-left:#F3F3F3 1px solid; color:#CCC; margin-right:2px; padding-top:2px; border-bottom:#F3F3F3 1px solid;}



/*CSS viciao style pagination*/
.viciao {margin-top:20px; margin-bottom:10px;}
.viciao a {border-right:#8DB5D7 1px solid; padding-right:5px; border-top:#8DB5D7 1px solid; padding-left:5px; padding-bottom:2px; border-left:#8DB5D7 1px solid; color:#000; margin-right:2px; padding-top:2px; border-bottom:#8DB5D7 1px solid; text-decoration:none;}
.viciao a:hover {border-right:red 1px solid; padding-right:5px; border-top:red 1px solid; padding-left:5px; padding-bottom:2px; border-left:red 1px solid; margin-right:2px; padding-top:2px; border-bottom:red 1px solid;}
.viciao a:active {border-right:red 1px solid; padding-right:5px; border-top:red 1px solid; padding-left:5px; padding-bottom:2px; border-left:red 1px solid; margin-right:2px; padding-top:2px; border-bottom:red 1px solid;}
.viciao span.current {border-right:#E89954 1px solid; padding-right:5px; border-top:#E89954 1px solid; padding-left:5px; font-weight:bold; padding-bottom:2px; border-left:#E89954 1px solid; color:#000; margin-right:2px; padding-top:2px; border-bottom:#E89954 1px solid; background-color:#FFCA7D;}
.viciao span.disabled {border-right:#CCC 1px solid; padding-right:5px; border-top:#CCC 1px solid; padding-left:5px; padding-bottom:2px; border-left:#CCC 1px solid; color:#CCC; margin-right:2px; padding-top:2px; border-bottom:#CCC 1px solid;}



/*CSS yahoo2 style pagination*/
.yahoo2 {padding-right:3px; padding-left:3px; font-size:0.85em; padding-bottom:3px; margin:3px; padding-top:3px; font-family:Tahoma,Helvetica,sans-serif; text-align:center;}
.yahoo2 a {border-right:#CCDBE4 1px solid; padding-right:8px; background-position:50% bottom; border-top:#CCDBE4 1px solid; padding-left:8px; padding-bottom:2px; border-left:#CCDBE4 1px solid; color:#0061DE; margin-right:3px; padding-top:2px; border-bottom:#CCDBE4 1px solid; text-decoration:none;}
.yahoo2 a:hover {border-right:#2B55AF 1px solid; border-top:#2B55AF 1px solid; background-image:none; border-left:#2B55AF 1px solid; color:#FFF; border-bottom:#2B55AF 1px solid; background-color:#3666D4;}
.yahoo2 a:active {border-right:#2B55AF 1px solid; border-top:#2B55AF 1px solid; background-image:none; border-left:#2B55AF 1px solid; color:#FFF; border-bottom:#2B55AF 1px solid; background-color:#3666D4;}
.yahoo2 span.current {padding-right:6px; padding-left:6px; font-weight:bold; padding-bottom:2px; color:#000; margin-right:3px; padding-top:2px;}
.yahoo2 span.disabled {display:none;}
.yahoo2 a.next {border-right:#CCDBE4 2px solid; border-top:#CCDBE4 2px solid; margin:0px 0px 0px 10px; border-left:#CCDBE4 2px solid; border-bottom:#CCDBE4 2px solid;}
.yahoo2 a.next:hover {border-right:#2B55AF 2px solid; border-top:#2B55AF 2px solid; border-left:#2B55AF 2px solid; border-bottom:#2B55AF 2px solid;}
.yahoo2 a.prev {border-right:#CCDBE4 2px solid; border-top:#CCDBE4 2px solid; margin:0px 10px 0px 0px; border-left:#CCDBE4 2px solid; border-bottom:#CCDBE4 2px solid;}
.yahoo2 a.prev:hover {border-right:#2B55AF 2px solid; border-top:#2B55AF 2px solid; border-left:#2B55AF 2px solid; border-bottom:#2B55AF 2px solid;}