body{
    margin:0;
    padding:0;
}
*{

    margin:0;
    padding:0;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
ul{
    list-style: none;
    -webkit-padding-start: 0px;
}
li{
    display: flex;
    padding:0 2.93vw;
    line-height:10.6vw;
    border-bottom: 1px solid #e8e8e8;
}
.iconmoon {
    font-size: 5.33vw;
    line-height:10.6vw;
    width: 5.33vw;
}
li p{
    flex:1;
}

/*公共*/
 .but{
    position: fixed;
    bottom:6.66vw;
    left:4vw;
    right:4vw;
}
.but p{
    width:100%;
    text-align: center;
    border-radius: 4px;
    background: #455cf9;
    color: #fff;
    line-height:9.6vw;
}
p{
    font-size:3.46vw;
    text-align: left;
    line-height:10.66vw;
}
input{
    border:1px solid #e8e8e8 ;
    width:100%;
    border-radius:4px;
    line-height:8vw;
    margin-bottom: 4.93vw;
    text-indent: 1em;
}
span{
/*    height:0.8vw;
    background: #eeeeee;
    margin-left: -4vw;
    margin-right: -4vw;
    display: block;*/
}

/*游戏*/
.game{
    padding:0 4vw;
}
.game .impxing:nth-of-type(1) input:nth-of-type(1){
    margin-top:0;
}
.game .impxing:nth-of-type(1) .xing{
    margin-top:0;
}
.game input{
    margin-top:3.46vw;
    margin-bottom:3.46vw;
}
.game span{
    height:0.8vw;
    background: #eeeeee;
    margin-left: -4vw;
    margin-right: -4vw;
    display: block;
}
.game input[type="radio"]{
    line-height: 10.6vw;
    margin: 0;
    vertical-align: middle;
    width: 5.3vw;
    height: 5.3vw;
    margin-top: 2.65vw;
}
.game label{
}
.game .line{
    height:2px;
    margin:0;
}
.game .gameul{
    display: flex;
}
.game li{
    flex:1;
    width:33.33%;
    text-align: center;
}
.game .but{
    position: fixed;
    bottom: 0;
    left: 4vw;
    right: 4vw;
    left: 0;
    right: 0;
    padding: 0 4vw;
    padding-bottom: 6.66vw;
    background: #fff;
}
.game .but p{
    width:100%;
    text-align: center;
    border-radius: 4px;
    background: #455cf9;
    color: #fff;
    line-height:9.6vw;
}
.jec,.watch,.cheat,.agent{
    padding:0 4vw;
}
.pitureul{
    list-style: none;
    display: block;
    height:19.4vw;
    margin-bottom: 19vw;
}
.pitureul li{
    width:25%;
    position: relative;
    list-style: none;
    display: flex;
    margin-left: -4vw;
    margin-right: -4vw;
    border:none;
    margin:0;
    padding:0;
        flex: 1;
    float:left;
    overflow: hidden;

}
.pitureul li form{
    margin:auto;
}
.pitureul li:nth-of-type(1){
    display:block;
}
.pitureul li img{
    width:90%;
    height:16vw;
    object-fit: contain;
}
.pitureul input{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    margin:0;
    opacity: 0;
}
/*支付*/
.pay{
    padding:0 4vw;
}
.pay span{
    height:0.8vw;
    background: #eeeeee;
    margin-left: -4vw;
    margin-right: -4vw;
    display: block;
}

.pay .xing{
    color: red;
    line-height: 10.66vw;
    display: inline-block;
    float: left;
    height: 10.66vw;
    background: transparent;
    text-align: center;
    width: 4vw;
}
.pay .line{
    height: 2px;
    margin:0;
}
.pay .impxing:nth-of-type(1) input:nth-of-type(1){
    margin-top:0;
}
.pay .impxing:nth-of-type(1) .xing{
    margin-top:0;
}
.pay input{
    margin-top:3.46vw;
    margin-bottom:3.46vw;
    width: 100%;
    background: transparent;
}
/*建议*/
.advice{
    padding:0 4vw;
}
.advice p{
    font-size:3.46vw;
    line-height:10.66vw;
}
.advice input{
    border:1px solid #e8e8e8 ;
    width:100%;
    border-radius:4px;
    line-height:8vw;
    margin-bottom: 4.93vw;
    text-indent: 1em;
}
.advice span{
    height:0.8vw;
    background: #eeeeee;
    margin-left: -4vw;
    margin-right: -4vw;
    display: block;
}
.advice textarea{
    border:1px solid #e8e8e8 ;
    width:100%;
    border-radius:4px;
    line-height:8vw;
    margin-bottom: 4.93vw;
    resize: none;
    text-indent: 1em;
}
.advice .impxing .xing {
    margin-top: 0;
}
.caline{
    height:0.8vw;
    background: #eeeeee;
    margin-left: -4vw;
    margin-right: -4vw;
    display: block;
}
.paylocal{
    position: relative;
}



textarea{
    border:1px solid #e8e8e8 ;
    width:100%;
    border-radius:4px;
    line-height:8vw;
    margin-bottom: 4.93vw;
    resize: none;
    height:32.5vw;
    text-indent: 1em;
    position: relative;
}
.textareadiv{
    position: relative;
}
.textareadiv .afterdom{
    position: absolute;
    right: 2vw;
    bottom: 7vw;
    content: "0/100";
    font-size: 2vw;
    color: #999999;
    margin:0;
    background: transparent;
    height:8vw;


}
/*.paylocal:after{
    position: absolute;
    right: 0;
    content:"ˇ";
    line-height: 8vw;
    height: 8vw;
    font-size:10vw;
    bottom: -2vw;
}*/
.p_right{
    display: block;
    float: right;
    right: 4vw;
    margin: 0!important;
    height: auto!important;
    background: transparent!important;
    color: #999999;
}
.aboalert{
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 22.12vw;
    bottom: 0;
    padding: 0 4vw;
    display:none;
    z-index: 1000;
}
.aboalert li{
    margin:0;
    padding: 0;
    width:100%;
}
.impxing{
    position: relative;
}
.impxing .xing{
    position: absolute;
    top:0;
    left:0;
    width:4vw;
    text-align: center;
    margin-top: 3.46vw;
    margin-bottom: 3.46vw;
    height:8vw!important;
    line-height: 8vw!important;
    display: initial!important;
    background: transparent!important;
    color: red;
}
.impxing .xingpay{
    margin-top:0;
    line-height: 10.66vw!important;
}
.agent .impxing .xing{
    margin:0;
    left: -4vw;
}
.cheat .impxing .xing{
    margin:0;
    left: -4vw;
}
.jec .impxing .xing{
    margin:0;
    left: -4vw;
}
.watch .impxing .xing{
    margin:0;
    left: -4vw;
}
.gameul  input[type=radio] {
    display: none;
    margin: 0px 0 0;
    background-color: rgba(255, 255, 255, 0)!important;
    border: 1px solid #f3f1f0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.gameul i {
    font-size: 24px;
    font-style: normal;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: transparent;
    vertical-align: middle;
    margin: -2px 10px 1px 0px;
    border: #666 1px solid;
    border-radius: 100%;
}
input[type="radio"]:checked+i {
    background: #455cf9;
    color: #ffffff;
}
.pitureul .chaclose{
    position: absolute;
    right:0;
    top:0;
    font-size: 10vw;
    color: red;
    margin:0;
    padding:0;
    height: 3.7vw;
    margin:0;
    background: transparent;
    width: 3.7vw;
    height: 3.7vw;
    z-index: 100;

}
.pitureul  .chaclose img{
    position: absolute;
    left:0;
    width: 3.7vw;
    height: 3.7vw;
    object-fit: cover;
}

 p .p_right{
    height:auto;
    background: transparent;
    margin: 0;
    display: inline-block;
        line-height: 10.66vw;
}
 p .p_right span{
    height:auto;
    background: transparent;
    margin: 0;
    display: inline-block;
        line-height: 10.66vw;
}