html,body {
    margin:0; padding:0;
    overflow-x:hidden;
    overflow-y:auto;
    width:100%;
    font-size:4vw;
    color:#333;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}
ul,li{
    padding:0;
    margin:0;
    border:0;
    list-style: none;
}
*{
    margin:0;
    padding:0;
}
a,input,button{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
a{
    text-decoration: none;
    color:#333;
}
/*游戏列表样式*/
.gameList{
    display: none;
}
.gameList{
    position:relative;
}
.gameList a{
    color:#000000;
}
.gameList li{
    width:100%;
    height: 18vw;
    border-bottom:2px solid #EAEAEA;
    position:relative;
}
/*第一个li下，第一个左边div为图片样式*/
.gameList li>a{
    display:block;
}
.gameList li>a>div:nth-of-type(1){
    width:18.67vw;
    height: 18vw;
    float:left;
    position:relative;
}
.gameList li>a>div:nth-of-type(1) img{
    width:13.3vw;
    height:13.3vw;
    position:absolute;
    top:2.5vw;
    left:2.5vw;
}
/*第一个li下，第二个右边div为文字样式*/
.gameList li>a>div:nth-of-type(2){
    width:81vw;
    height:18vw;
    float:left;
}
.gameList li>a>div:nth-of-type(2)>p:nth-of-type(1){
    font-size: 4vw;
    line-height:11vw;
}
.gameList li>a>div:nth-of-type(2)>p:nth-of-type(2){
    font-size: 3vw;
}
.gameList li>div{
    position:absolute;
    width:13.8vw;
    height:7.2vw;
    line-height: 7.2vw;
    right:2.67vw;
    border:1px solid #4853CF;
    box-sizing:border-box;
    text-align: center;
    top:5.3vw;
    border-radius: 1vw;
    font-size:3.1vw;
    font-weight: bold;
}
.gameList li>div>a{
    color:#4853CF;
}
.gameL li>a>div:nth-of-type(2)>p:nth-of-type(2){
    width:60vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}