body{
	margin: 0;
	padding: 0;
}
div{
	padding: 0 2.66vw;
}
*{
	margin: 0;
	padding: 0;
}
h2{
	font-size: 4.26vw;
    color: #333333;
    text-align: center;
    line-height: 16vw;
}
p{
	font-size: 3.3vw;
	line-height: 5vw;
	text-indent: 2em;
	
}
